form {
    padding-top: 40px;
    margin-top: 100px;
    border: 2px #ecb4b18f solid  ;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    background-image: url(image/glitter-star-heart-frame-design-vector_53876-167912.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Crimson Text", serif;
}

#email {
    margin: 10px 0px;
    width: 250px;
    height: 30px;
    background-color: #ecb4b1;
    border: 2px whitesmoke solid;
    border-radius: 20px;
}

#password {
    margin: 10px 0px;
    width: 250px;
    height: 30px;
    background-color: #ecb4b1;
    border: 2px whitesmoke solid;
    border-radius: 20px;
}

#forgetpassword {
    margin: 30px 0px;
   
}

.forgetpassword {
    font-size: 15px;
}

label {
    font-size: 23px;
    color: #42352d;
}

#login {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    color: #42352d;
    background-color: #ecb4b1;
    border: 2px whitesmoke solid;
border-radius: 40px;
font-size: 20px;

}
h4{
    margin-top: 80px;
    color: #42352d;
    font-size: 16px;
}
a{
    color: #ad6f6c;
}